@model OCMS03.Models.Helper
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 style="margin-left:200px"> 2021 Appointments</h4>
            <div id="chart1"></div>
        </div>
        <div class="col-md-6">
            <h4 style="margin-left:200px"> 2021 Appointment Details</h4>
            <div id="chart2"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Pie Chart with Data Array:

            var myArray = [['Months', 'Stats'],
            ['January', { v: @Model.Data()[0], f: '@Model.Data()[0]%' }],
            ['February', { v: @Model.Data()[1], f: '@Model.Data()[1]%' }],
            ['March', { v: @Model.Data()[2], f: '@Model.Data()[2]%' }],
            ['April', { v: @Model.Data()[3], f: '@Model.Data()[3]%' }],
            ['May', { v: @Model.Data()[4], f: '@Model.Data()[4]%' }],
            ['June', { v: @Model.Data()[5], f: '@Model.Data()[5]%' }],
            ['July', { v: @Model.Data()[6], f: '@Model.Data()[6]%' }],
            ['August', { v: @Model.Data()[7], f: '@Model.Data()[7]%' }],
            ['September', { v: @Model.Data()[8], f: '@Model.Data()[8]%' }],
            ['October', { v: @Model.Data()[9], f: '@Model.Data()[9]%' }],
            ['November', { v: @Model.Data()[10], f: '@Model.Data()[10]%' }],
            ['December', { v: @Model.Data()[11], f: '@Model.Data()[11]%' }],
            ];

            var data = google.visualization.arrayToDataTable(myArray, false);
            var option = {
                title: 'Appointment Stats',
                width: 600,
                height: 500
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);

            // Line Chart with Datas Array and Dat Array:

            var data = google.visualization.arrayToDataTable([
                ['Genre','Approved Appointments', 'Cancelled Appointments'],
                ['January', @Model.Datas()[0], @Model.Dat()[0]],
                ['February', @Model.Datas()[1], @Model.Dat()[1]],
                ['March', @Model.Datas()[2], @Model.Dat()[2]],
                ['April', @Model.Datas()[3], @Model.Dat()[3]],
                ['May', @Model.Datas()[4], @Model.Dat()[4]],
                ['June', @Model.Datas()[5], @Model.Dat()[5] ],
                ['July', @Model.Datas()[6], @Model.Dat()[6]],
                ['August', @Model.Datas()[7], @Model.Dat()[7]],
                ['September', @Model.Datas()[8], @Model.Dat()[8]],
                ['October', @Model.Datas()[9], @Model.Dat()[9]],
                ['November', @Model.Datas()[10], @Model.Dat()[10]],
                ['December', @Model.Datas()[11], @Model.Dat()[11]]
            ]);

            chart = new google.visualization.LineChart(document.getElementById('chart2'));
            chart.draw(data, option);
        }


    </script>
}