@*@model OCMS03.Models.ViewModels.MedicalTabViewModel*@

@{
    Layout = "~/Views/Shared/_StafLayout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="header bg-white pb-1">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a asp-controller="Administrstion" asp-action="Index1"><i class="ni ni-single-02 text-yellow"></i></a></li>
                            <li class="breadcrumb-item"><a asp-controller="Examination" asp-action="Index">Appointment Checkin</a></li>
                            <li class="breadcrumb-item active text-info" aria-current="page">Patient Examination</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 order-xl-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <div class="row col-xl-12">
                        <div class="col-xl-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="@(Model.ActiveTab == OCMS03.Models.ViewModels.Tab.VSigns ? "active" : string.Empty ) nav-item nav-link" asp-route-tabName="VSigns" asp-action="SwitchTabs" role="presentation">Vitals Sign</a>
                                    <a class="@(Model.ActiveTab == OCMS03.Models.ViewModels.Tab.Examination ? "active" : string.Empty ) nav-item nav-link" asp-route-tabName="Examination" asp-action="SwitchTabs" role="presentation">Examination Notes</a>
                                    <a class="@(Model.ActiveTab == OCMS03.Models.ViewModels.Tab.Allergies ? "active" : string.Empty ) nav-item nav-link" asp-route-tabName="Allergies" asp-action="SwitchTabs" role="presentation">Patient Allergies</a>
                                    <a class="@(Model.ActiveTab == OCMS03.Models.ViewModels.Tab.Prescription ? "active" : string.Empty ) nav-item nav-link" asp-route-tabName="Prescription" asp-action="SwitchTabs" role="presentation">Prescription</a>
                                    <a class="@(Model.ActiveTab == OCMS03.Models.ViewModels.Tab.Referral ? "active" : string.Empty ) nav-item nav-link" asp-route-tabName="Referral" asp-action="SwitchTabs" role="presentation">Pateint Referral</a>
                                </div>
                            </nav>
                            <div class="tab-content py-5 px-3 px-sm-0" id="nav-tabContent">
                                <div class="col-md-12">
                                    @switch (Model.ActiveTab)
                                    {
                                        case OCMS03.Models.ViewModels.Tab.VSigns:
                                            @await Html.PartialAsync("~/Views/Examinations/VSigns.cshtml")
                                            break;

                                        case OCMS03.Models.ViewModels.Tab.Examination:
                                            @await Component.InvokeAsync("Examination");
                                            break;

                                        case OCMS03.Models.ViewModels.Tab.Prescription:
                                            @await Component.InvokeAsync("Prescription");
                                            break;


                                        case OCMS03.Models.ViewModels.Tab.Allergies:
                                            @await Component.InvokeAsync("Allergies");
                                            break;

                                        case OCMS03.Models.ViewModels.Tab.Referral:
                                            await Component.InvokeAsync("Referral");
                                            break;

                                        default:
                                            break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
         </div>
     </div>
 </div>
  