@model OCMS03.Models.ViewModels.DoctorViewModel.DoctorScheduleViewModel

@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_StafLayout.cshtml";
}

    <div class="header bg-white pb-1">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a asp-controller="Doctor" asp-action="Schedule"><i class="ni ni-single-02 text-yellow"></i></a></li>
                                <li class="breadcrumb-item"><a asp-controller="Doctor" asp-action="Schedule">Appointment</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Your Appointment(s)</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 order-xl-1">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0"></h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Your Appointment</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" asp-for="Date">Search By Date</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="zmdi zmdi-alarm-off"></i></div>
                                                </div>
                                                <input asp-for="Date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label"></label>
                                            <input type="submit" value="View Schedule" class="btn btn-primary btn-lg btn-block" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    @{
                        if (Model.Date == null)
                        {
                            <h3>Date: @DateTime.Now.Date.ToShortDateString()</h3>
                        }
                        else
                        {
                            <h3>Date: @Model.Date.Date.ToShortDateString()</h3>
                        }
                    }
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead>
                                @if (Model.Appointments.Count() == 0)
                                {
                                    <tr>
                                        <th scope="row" colspan="6" class="text-center">No Appointments</th>
                                    </tr>
                                }
                                else
                                {
                                    var startTime = DateTime.Parse("08:00:00");
                                    var endTime = startTime.AddHours(10);
                                    while (startTime <= endTime)
                                    {
                                        string hour = startTime.ToShortTimeString();
                                        string profilePic = "";
                                        string patientName = "No Appointment";
                                        DateTime date = DateTime.Today;
                                        string email = "";
                                        string phoneNumber = "";
                                        string address = "";
                                        string info = "";
                                        bool isThere = false;

                                        string rowClass = "bg-active";
                                        foreach (var appointment in Model.Appointments)
                                        {
                                            if (startTime.TimeOfDay == appointment.StartTime && Model.Date == appointment.AppointmentDate)
                                            {
                                                profilePic = appointment.Patient.ImagePath;
                                                patientName = appointment.Patient.FirstName + " " + appointment.Patient.LastName;
                                                date = appointment.AppointmentDate;
                                                address = appointment.Patient.AddressLine1 + " " + appointment.Patient.AddressLine2;
                                                email = appointment.Patient.Email;
                                                phoneNumber = appointment.Patient.PhoneNumber;
                                                info = appointment.AppointmentDescription;
                                                rowClass = "bg-white";
                                                isThere = true;
                                            }
                                        }

                                        <tr class="@rowClass">
                                            @if (isThere == true)
                                            {
                                                <td>@hour</td>
                                                <td>
                                                    <div class="appointment-list">
                                                        <div class="profile-info-widget">
                                                            <div class="profile-det-info">
                                                                <h3>@patientName</h3>
                                                                <div class="patient-details">
                                                                    <h5 class="fzmdi zmdi-time">&nbsp;&nbsp;@date.ToShortDateString()</h5>
                                                                    <h5 class="zmdi zmdi-home ">&nbsp;&nbsp;@address</h5>
                                                                    <h5 class="zmdi zmdi-email">&nbsp;&nbsp;@email</h5>
                                                                    <h5 class="zmdi-smartphone-android">&nbsp;&nbsp;@phoneNumber</h5>
                                                                    <h5 class="mb-0 zmdi zmdi-book">&nbsp;&nbsp;@info</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>@hour</td>
                                                <td>@patientName</td>
                                            }

                                        </tr>
                                        startTime = startTime.AddMinutes(15);
                                    }
                                }
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
